* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    justify-items: first baseline;
    font-family: 'Franklin Gothic Medium';
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: first baseline;
    background-color: #f5bc52;
    width: 1200px;
}

.icon_image {
    width: 100px;
    height: 80px;
}

header h1 {
    margin-left: 20px;
    font-family: 'Courier New';
    font-size: 35px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    gap: 10px;
}

nav li {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #f8aa1b;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    display: block;
    padding: 5px;
}

nav a:hover {
    background-color: #EEEFF1;
}

main {
    display: grid;
    width: 1200px;
    height: 800px;
    background-color: #f8aa1b;
    font-size: 18px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: first baseline;
}

th, td {
    padding: 10px;
    border: 1px solid black;
}

img {
    width: 200px;
    height: 200px;
}

.description {
    width: 200px;
    text-align: right;
}

footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items:first baseline;
    background-color: #f5bc52;
    width: 1200px;
}

footer p {
    margin: 0;
}

.email_footer {
    text-align: right;
}