main{
    background-color: #f8aa1b;
    position: relative;
    margin-left: 10px;
    height: 800px;
    width: 1200px;
    font-family:'Franklin Gothic Medium';
    font-size: 18px;
}
table{
    position: absolute;
    width: 100%;
    border-collapse: collapse;
    top: 50px;
}

img{
    width: 200px;
    height: 200px;
}

th, td{
    background-color: #f8aa1b;
    border: 1px solid black;
    text-align: center;
}

.description{
    width: 200px;
    text-align: right;
}